<!DOCTYPE html>
<html>
  <head>
    <title>NomadicNests</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyDu6tPvsFHBf72Mv_gpm1DaA7FvyCS-eBQ" %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <link rel="shortcut icon" type="image/svg" href="<%= image_url('green_tent.svg') %>">
    <script type="text/javascript">
      window.splashImage = "<%= image_url('North_Cascades.jpg') %>"
    </script>
    <script type="text/javascript">
      window.icon = "<%= image_url('green_tent.svg') %>"
    </script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
